table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #1779A4;
    color: white;
}

tr:nth-child(even) {
    background-color: #B2B2B2;
}