.consulta{
  background-color: #E9F1F7;
  border: 1px solid #216683;
  min-height: 10rem;
  margin: 1rem;
  border-radius: 25px;
  padding: 1rem;
  display: none;
}
select {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  width: 80%;
}
.buttons-div{
  padding-top: 1rem;
  justify-content: center;
  display: flex;
  align-items: center;
}
.buttons-div input{
	margin: 1rem;
}
.buttons-div button{
  border-radius: 8px;
  background-color: #E9F1F7;
  color: black;
  border: 1px solid #21668370;
  padding: 0.5rem;
  cursor: pointer;
}
.buttons-div button:hover{
  background-color: #216683;
}
.buttons-div button:disabled{
	background-color: #606466;
	border: 1px solid #606466;
	cursor: default;
}
.content label{
	margin-left: 10%;
}
.centeredDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
}
.centeredDiv label{
	margin-left: 0;
}
.centeredDiv input{
	text-align: center;
}
hr.solidDivider {
  border-top: 3px solid #21668370;
}