<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>curricula_microservice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Carreras</display-name>
    <servlet-name>Carreras</servlet-name>
    <servlet-class>Carreras</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carreras</servlet-name>
    <url-pattern>/Faculty/Carrera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnidadCurricular</display-name>
    <servlet-name>UnidadCurricular</servlet-name>
    <servlet-class>UnidadCurricular</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>UnidadCurricular</servlet-name>
    <url-pattern>/Faculty/ucs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Plan</display-name>
    <servlet-name>Plan</servlet-name>
    <servlet-class>Plan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Plan</servlet-name>
    <url-pattern>/Faculty/Carrera/Plan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subjects</display-name>
    <servlet-name>Subjects</servlet-name>
    <servlet-class>Subjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subjects</servlet-name>
    <url-pattern>/Faculty/Carrera/Plan/Subjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvalUC</display-name>
    <servlet-name>EvalUC</servlet-name>
    <servlet-class>EvalUC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvalUC</servlet-name>
    <url-pattern>/Faculty/ucs/eval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvalPlan</display-name>
    <servlet-name>EvalPlan</servlet-name>
    <servlet-class>EvalPlan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvalPlan</servlet-name>
    <url-pattern>/Faculty/Carrera/Plan/eval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanUcs</display-name>
    <servlet-name>PlanUcs</servlet-name>
    <servlet-class>PlanUcs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanUcs</servlet-name>
    <url-pattern>/Faculty/Carrera/Plan/ucs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Facultad</display-name>
    <servlet-name>Facultad</servlet-name>
    <servlet-class>Facultad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facultad</servlet-name>
    <url-pattern>/Faculty</url-pattern>
  </servlet-mapping>
</web-app>